body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.welcome {
    text-align: center;
    margin-bottom: 20px;
}

.lessons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lesson {
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

pre {
    background-color: #272822;
    color: #f8f8f2;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: "Courier New", Courier, monospace;
}

pre .python {
    color: inherit; /* We use parents color */
    font-weight: bold;
}

code {
    background-color: #f4f4f4;
    color: #333;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: "Courier New", Courier, monospace;
}

@media (min-width: 600px) {
    .lessons {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }

    .lesson {
        flex: 1 1 calc(50% - 15px);
        max-width: calc(50% - 15px);
    }
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
